<!doctype html>
<html lang="en" ng-app="cafeTownsend">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/png" href="http://www.kronusproductions.com/assets/images/favicon.png" />
	<title>KRONUS Productions L.L.C. - CRUD App - Angular & Ruby</title>
	<%= include_jquery(defer: true) %>
	<%= javascript_include_tag('application', defer: true) -%>
	<%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tags %>
</head>

<body>
<%= render "layouts/header" %>
<div class="main-view"
   ng-controller="MainController"
   ng-class="{login:'main-view-loggedIn',
    employees:'main-view-employees',
    edit:'main-view-edit',
    create:'main-view-create'}[viewState.current]">

  <div class="main-view-wrapper"
     ng-class="{login:'main-view-wrapper-loggedIn',
      employees:'main-view-wrapper-employees',
      edit:'main-view-wrapper-edit',
      create:'main-view-wrapper-create'}[viewState.current]">
    <div ng-view
      class="main-view-container"
      ></div>
  </div>
  <%= render "layouts/footer" %>
</div>
</body>
</html>